body {
    background:  #f4d04e;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;

}

.card {
    background: white;
    width: 350px;
    padding: 20px;
    border-radius: 15px;
     box-shadow: 8px 8px 0px #000000;
}

.card-image {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}

.badge {
      background: #f4d04e;
      padding: 5px 12px;
       border-radius: 5px;
    font-size: 14px;
    font-weight: bold;

}

.date {
     color: #555;
    font-size: 14px;
    margin-top: 10px;
}

.title {
      margin-top: 10px;
    font-size: 22px;
    font-weight: bold;
}

.title:hover {
     color: #f4d04e;
    cursor: pointer;

}

.description {
    color: #616161;
    font-size: 15px;
    line-height: 1.4;
    margin-top: 10px;
}

.author {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.author-img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 10px;
}

.author-name {
    font-weight: bold;
}